.todoWrapper{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, rgba(43,0,101,1) 30%, rgba(76,174,250,1) 100%);
  padding: 50px;
  box-sizing: border-box;
}