.todoWrapper {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-areas: "tdl ia";
  grid-template-columns: 2fr 3fr;
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff1cb;

}