.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  box-sizing: border-box;
  background-color: #333;
  color: white;
  user-select: none;

  span {
    text-align: center;
    color: white;

    :last-child {
      cursor: pointer;
    }
  }

  .TodoList {
    width: 20%;
    min-height: 100%;
    background-color: #444;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      height: 80%;
      border-radius: 20px;
      position: relative;
      border: 3px solid #ffc574;
      background-color: white;
      box-sizing: border-box;
      padding: 10px;

      .Todo {
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        word-wrap: anywhere;
        line-height: 18px;
        color: #222222;
        text-align: left;

        +.Todo {
          margin-top: 10px;
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 84%;

    .ToDoMaker {
      width: 45%;
      height: 100px;
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 300px;
      padding: 20px;
      border-radius: 24px;
      border: 2px solid #ffc574;

      .ToDoInput {
        height: 40px;
        width: 85%;
        border-radius: 16px;
        outline: none;
        font-size: 18px;
        padding: 0 10px;
      }

      .enterToDo {
        border-radius: 8px;
        outline: none;
        box-sizing: border-box;
        padding: 5px;
        border: 1px solid #222222;

        :hover {
          box-shadow: 5px 0 0 #ffc574;
        }
      }
    }
  }
}


